# These variables are used in docker-compose.yml to configure services

# Stripe Configuration
# Remplacez les valeurs ci-dessous par vos vraies clés Stripe
STRIPE_SECRET_KEY=sk_test_votre_cle_secrete
STRIPE_PUBLIC_KEY=pk_test_votre_cle_publique

# Optionnel =Secret du Webhook si vous utilisez stripe-cli
# STRIPE_WEBHOOK_SECRET=whsec_...

POSTGRES_DB=shop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/shop
SPRING_DATASOURCE_DRIVER=org.postgresql.Driver
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=password
SPRING_JPA_HIBERNATE_DDL_AUTO=none
SPRING_FLYWAY_ENABLED=true

# Nginx external listening ports
HTTP_PORT=80
HTTPS_PORT=443

# Grafana monitoring UI
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_HTTP_PORT=3000
